.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container-fluid{
  margin: -10px;
}
/* .container-fluid-svg {
  color: #cccccc; */

  /* color: rgb(231, 222, 222) */

  /* margin-left: 0px; */
  
/* } */

/* {
  margin-left: 30px ;

} */

.container-fluid :hover{
  color: #050505;
  
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
  width: 200px;
  height: 727px;
  background-color: #f3eee9;
}

li a {
  margin-top: 0px;
  /* padding: 12px; */
  display: block;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  border-radius: 25px 0px 0px 25px;
  background-color:#2a3477;
  /* background-color:hwb(249deg 8% 72%); */
  color: white;
}









/* a{
  margin:0px;
}
Link{
  margin: -10px;
}
.icons-Link{
  margin: 0px;
  padding-left: 0px;
}
.icons-svg :hover{
  margin: 1px;
  color: white; */
/* margin-top: -10px; */
/* } */